.btn-close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.floating-alert {
    position: fixed;
    width: 90%;
    max-width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}