<h2 mat-dialog-title class="text-center">¿Seguro(a)?</h2>
<mat-dialog-content>
  <p class="text-center">
    Se va a eliminar el registro
    <strong># {{ data.id }}</strong>. 
    Esta acción es irreversible
</p>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center gap-3 mb-3">
    <app-basic-button label="Cancelar" (onClick)="closeModal()"></app-basic-button>
    <app-button [label]="getButtonLabel()" [isLoading]="isLoading" (onClick)="click()"></app-button>  
</mat-dialog-actions>
